@import "tailwindcss";

@plugin "tailwindcss-animate";

@font-face {
  font-family: 'CustomFont';
  src: url('../public/fonts/fonnts.com-Adelle_Sans_Cnd_Semibold.otf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* @font-face {
  font-family: 'CustomFont';
  src: url('/fonts/FontName-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;

} */


.bg-superhuman-gradient {
  background: radial-gradient(50% 50% at 50% 50%, rgba(158, 110, 230, 0.28) 0%, rgba(158, 110, 230, 0) 100%);
}

.ai-gradient{
  background: linear-gradient(120deg, rgba(255, 255, 255, 0.3) 0%, rgba(171, 171, 171, 0.15) 100%);
}

.button-gradient{
  background: linear-gradient(90deg, rgb(158, 110, 229) 0%, rgb(250, 117, 248) 100%);
}

.phone-gradient{
  background: radial-gradient(46.76% 46.76% at 50% 50%, rgba(92, 195, 250, 0.26) 0%, rgba(92, 195, 250, 0) 100%);
}
